<br><br><br><br><br><br><br><br><br>

<section id="footer-section">
    <h3 id="ft_title">WEB PHÒNG TRỌ- NHÓM 26</h3>
    <p id="ft_text"> Đăng tin cho thuê, tìm phòng trọ đơn giản , nhanh chóng</p>
    <ul class="ft_ul">
        <li>LIÊN HỆ</li>
        <li>SĐT:0356978586 </li>
        <li>
            <a href="#">Facebook: Timtroonline</a>
        </li>
        <li>
            support@gmail.com
        </li>

</section>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>