<% include partials/head %>


<div class="container">
	<div class="row">
			
		<div class="col-sm-1 col-md-3 col-lg-3"></div>
		<div class="col-sm-10 col-md-6 col-lg-6">

			<!-- input infomation area -->
			<div class="d-flex justify-content-center"><img src="/motivation.png" alt=""></div><br>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="User name" name="username" id="user">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" placeholder="Password" name="password" id="password">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" id="submit_btn">Đăng nhập</button>
			</div>
			<div>
				<p>Chưa có tài khoản?<a href="/users/signup" style="color: blue;">Đăng kí</a></p>
				<p id="par_change" style="color: red;"></p>
			</div>
			<!-- input infomation area -->

		</div>
		<div class="col-sm-1 col-md-3 col-lg-3"></div>

	</div>
	<div id="parse_ajax_data_here">

	</div>
</div>


<script>
	$(document).ready(()=>{


		$('#submit_btn').click(function(){
			$.ajax({
				url:'/users/signin',
				type: 'POST',
				data: {
					username: $('#user').val(),
					password: $('#password').val()
				},
				success: (data) => {
					
					if(data.status == 0){
						$('#par_change').text(data.message);
					} else {
						$('#par_change').text("");
						console.log(data);
						
						window.location.href = '/login_home/' + data.username;
						
						
						
					}
				}
			});
		});
		
	});
</script>

<% include partials/footer %>