<% include partials/head %>

<div class="container">

	<div class="row">
		<div class="col-sm-1 col-md-3 col-lg-3">

		</div>
		<div class="col-sm-10 col-md-6 col-lg-6">
			<div class="d-flex justify-content-center"><img src="/motivation.png" alt=""></div><br>

			<div class="form-group">
				<input class="form-control" type="email" placeholder="Email" id="email" name="email" required="true">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="User name" id="user" name="username"
					required="true">
			</div>

			<div class="form-group">
				<input class="form-control" type="password" placeholder="Password" id="pass1" name="password"
					required="true">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" placeholder="Password" id="pass2" name="password2"
					required="true">
			</div>
			<div>
				<p class="check"><span><input type="checkbox"></span> Tôi đồng ý với các quy định sử dụng</p>
			</div>
			<div class="form-group">
				<button class="btn btn-danger btn-block" id="submit_button" type="submit">Đăng kí</button>
			</div>
			<div>
				<p>Đã có tài khoản?<a href="/users/signin" style="color: blue;">Đăng nhập ngay</a></p>
				<p id="par_change" style="color: red;"></p>
			</div>
			<div>

			</div>

		</div>
		<div class="col-sm-1 col-md-3 col-lg-3">

		</div>

	</div>

</div>


<script>

	$(document).ready(() => {
		$('#submit_button').click(function () {
			$.ajax({
				url: '/users/signup',
				type: 'POST',
				data: {
					email: $('#email').val(),
					username: $('#user').val(),
					password: $('#pass1').val(),
					password2: $('#pass2').val()
				},
				success: (data) => {
					// data.status:
					// 0 : 2 password not the same
					// 1 : username already exis.
					// 2 : oke.

					console.log('received response.');


					if (data.status == 0) {
						$('#par_change').text(data.message);
					}
					if (data.status == 1) {
						$('#par_change').text(data.message);
					}
					if (data.status == 2) {
						$('#par_change').text(data.message);
						window.location.href = '/users/signin';
					}
				}
			});


		});


	});

</script>
<% include partials/footer %>