<% include partials/head %>

<div class="container">

	<div class="row">
		<div class="col-3">

		</div>
		<div class="col-6">
			<div class="d-flex justify-content-center"><img src="/motivation.png" alt=""></div><br>
			<form action="/signin" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="User name" name="username" id="">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" placeholder="Password" name="password" id="">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Đăng kí</button>
				</div>
				<div>
					<p>Chưa có tài khoản?<a href="/home" style="color: blue;">Đăng nhập</a></p>
				</div>
			</form>
		</div>
		<div class="col-3">

		</div>

	</div>

</div>

<% include partials/footer %>