html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.option a {
    color: black;
    text-decoration: underline;
    padding: 10px 0;
    display: inline;
}

.option a:hover {
    color: red;
    text-decoration: underline;
}

.image_resizes {
    height: 200px;
    overflow: hidden;
}

.card {
    margin: 10px auto;
}

.back_ground_intro {
    background-image: url("london-4612015_640.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    color: white;
}

.style_slide_show {
    box-shadow: 2px 2px 4px #000000;
}
.image_corner {
    border-radius: 10px;
}

.detai_title {
    color: #3E91D9;
}
